<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sewlution</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="manifest" href="/static/manifest.json">
</head>
<body>
    <div class="page-container">
        <h1 class="logo-title">Insewlution</h1>
        <img src="/static/icon.png" alt="Logo" class="logo">
        <button class="start-button" onclick="window.location.href='/second-page'">Start sewing</button>
    </div>
</body>
</html>